body { margin:0; padding:0; width:1000px; font-family:Trebuchet MS;font-size:16px; }
html { padding:0; margin:0;}
img a{ padding:0; margin:0; border:0;}
#searchform{ width:1000px;float:left;font-family:Trebuchet MS; font-size:18px;}
.xsearchform{ width:1000px;float:left;font-family:Trebuchet MS; font-size:18px;}
.container{width:1200px;  float:left; }

.sidebar{ width:20%;max-width:190px;height:500px; float:left;background: url(../images/sidebar1.gif) repeat-y; padding-top:150px;}
.sidebar a{float:left; padding-left:20px; display:block; width:140px; background: url(../images/button_bg.gif) repeat-x;
             border-color:#fff; border-radius:5px; border-style:solid; border-width:2px; font-size:14px; font-weight:bold;
             border-left-style:none;
              text-decoration:none;
              color:#fff;
              text-align:left; }
.content{float:left; width:1000px;}
.content_tm_ack{float:left;width:1000px;font-size:14px;}
/********** header **********/
.header{ height:148px;width:100%;min-width:1000px;  float:left;  background: url(../images/header_bg.gif) repeat-x; }
.xmenu{ height:45px;width:100%;min-width:600px;float:left;background: url(../images/m_menu.gif) repeat-x; }
.edheader{ height:25px;width:100%;min-width:600px;  float:left;  background: url(../images/header_bg.gif) repeat-x; }
.xedmenu{ height:25px;width:100%;min-width:600px;float:left;background: url(../images/m_menu.gif) repeat-x; }

.xlogo{ height:103px;width:100%;float:left;}
.xlogo_l{ height:103px;width:70%;min-width:515px;float:left;background: url(../images/ipo_logo.gif); background-repeat:no-repeat;}
.xlogo_r{ height:103px;width:30%;min-width:85px;float:left;}




/* menu */	
.menu { padding:0; margin:0 auto; width:1000px;}
.menu img{float:left; padding:0; margin:0 auto;}
.menu ul { padding:0 20px; margin:0 30px 0 0; list-style:none; border:0;}
.menu ul li { float:left; margin:0; padding:5px 3px; border:0;}
.menu ul li a { float:left; margin:0 1px 0 0; padding:10px; color:#fff; font:bold 12px Trebuchet MS; text-decoration:none;}
.menu ul li a:hover { color:#ff0;font-style:italic;}
.menu ul li a.active {text-decoration:underline; color:#090;}
.menu ul li a.active span {  background:url(../images/l_menu.gif) no-repeat  left ;text-decoration:none;}
.menu h2 { }
.menu h2 a span { float:left;font-size:14px; color:#fff; text-decoration::none; }

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg { clear:both; border-top:1px  dashed #c7c7c7; padding:0; margin:5px 0; background:none;}

.textbox{ border-style:solid; border-color:#509447;border-radius:3px;}

.coltbbg { padding:0; margin:0 auto; width:100%; height:20px; background-color:Gray; text-align:center; color:#fff; font-weight:bold;}
.tdcolheader { padding:0; margin:0 auto; height:20px; background:url(../images/green_header.gif) top repeat-x; text-align:center; color:#fff; font-weight:bold; font-size:14px; border-radius:10px;}

.tbbg { padding:0; margin:0 auto; width:1200px; height:20px; background:url(../images/green_header.gif) top repeat-x; background-color:green; text-align:center; color:#fff; font-weight:bold; border-color:green;}


.form {width:1000px; color:#509447; border-color:green; border-radius:5px; border-style:solid; border-width:2px; }

.form table {
        background-color: black;
        border: 1px white solid;
        border-radius:10px;
        width:1000px;
        font-size:18px;
      }
	  .form table a{
         color: #fff;
		 font-size:18px;
		 font-weight:bold;
      }
  .form th {
        border: 1px outset silver;
        background-color: silver;
        color: black;
		font-weight:bold;
}
	  
  .form tr {
		border: 1px outset silver;
        background-color: white;
        margin: 1px;
		color:black;
		font-size:18px;
      }
   .form tr.striped {
		border: 1px outset white;
        background-color: #666;
		color: white;
		font-size:18px;
      }
   .form tr.stripedout {
		border: 0px outset white;
        background-color: #fff;
		color: black;
		font-size:18px;
      }
   .form tr.striped a{
		color: white;
		font-size:18px;
      }  
      
   .form td
{
border:1px outset silver; padding: 1px 2px;
}
 
  .form  td.stripedoutx {
		  border: 0px outset white;
		  font-size:13px;
      }
      


.xtreme table {
        background-color: black;
        border: 1px white solid;
      }
	  .form table a{
         color: #fff;
		 font-size:14px;
		 font-weight:bold;
      }
  .form th {
        border: 1px outset silver;
        background-color: silver;
        color: black;
		font-weight:bold;
}
	  
  .xtreme tr {
		border: 1px outset silver;
        background-color: white;
        margin: 1px;
		color:black;
		font-size:14px;
      }
   .xtreme tr.striped {
		border: 1px outset white;
        background-color: #666;
		color: white;
		font-size:14px;
      }
   .xtreme tr.stripedout {
		border: 0px outset white;
        background-color: #fff;
		color: black;
		font-size:14px;
      }
   .xtreme tr.striped a{
		color: white;
		font-size:14px;
      }  
    .xtreme tr.stripedout a{
		color: black;
		font-size:14px;
      } 
  .xtreme  td.stripedoutx {
		  border: 0px outset black;
		  font-size:13px;
      }
      
      
.green_bg_l {
	background-image:url(../images/green_header.gif);
	background-repeat:repeat-x;
    color: #fff;
    margin: 0;
	font-size:14px;
	font-weight:bold;
	text-align:center;
} 
.green_bg_l a{
         color: #fff;
		 font-size:14px;
      }
.red_bg_l {
	background-image:url(../images/red_header.jpg);
	background-repeat:repeat-x;
    color: #fff;
    margin: 0;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}   

.button 
{
background-image:url('../images/button_bg.gif');
background-repeat:repeat-x;
color: #fff;
text-align:center;	
border: solid 2px #efefef;
border-radius:5px;
	}
.button :hover
{
background-image:url(../images/button_bg.gif);
background-repeat:repeat-x;
color:Yellow;
text-align:center;	
border: solid 2px #efefef;
border-radius:5px;
}
hr {
width:100%;
height:2px;
background-color:gray;
border:1px dotted green;
}
